@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DABAB.Models.Movie>

@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />

<body>
        <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup">
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                Sortiranje po:
                @Html.ActionLink("Naziv", "Index", new { sort = ViewBag.NameSort, search = Request.QueryString["search"] }) /
                @Html.ActionLink("Datum izdavanja", "Index", new { sort = ViewBag.DateSort, search = Request.QueryString["search"] }) /
                @Html.ActionLink("Rating", "Index", new { sort = ViewBag.RatingSort, search = Request.QueryString["search"] })
            </th>
            <th style="text-align:right">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    @Html.TextBox("search") <input type="Submit" value="Traži" class="btn btn-primary" />
                }
            </th>
        </tr>
    </table>
    
   

    <div class="container" style="text-align: center">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm">
                    <div class="card" style="width: 250px; height: 450px; text-align: center; margin-top: 50px; border:4px solid #BC0000; border-radius:7px 7px 7px 7px;">
                        <div class="view overlay">
                            <img class="card-img-top" src="~/@item.ImagePath" style="width: 250px; height: 250px;"
                                 alt="@item.Title">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="color:black">@item.Title</h4>
                            <p class="card-text" style="max-height:50ch; -webkit-line-clamp: 5;">
                                @item.ReleaseDate.Year
                            </p>
                            @Html.ActionLink("Detalji", "Details", "Movie", new { id = item.MovieId }, new { @class = "btn btn-info btn-sm" })
                        </div>
                    </div>
                </div>

            }

            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
   

    <div id="pager">
        Ukupno rezultata: @Model.TotalItemCount <br />

        Stranica: @(Model.PageCount < Model.PageCount ? 0 : Model.PageNumber) od @Model.PageCount
        <br />
        <br />


        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions
        {
                             DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                             DisplayLinkToLastPage = PagedListDisplayMode.Never,
                             DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                             DisplayLinkToNextPage = PagedListDisplayMode.Always,
                             MaximumPageNumbersToDisplay = 5
        })
        <br />
        <br />
    </div>


    <script>
        $.ajax({
            url: '@Url.Action("GetMovieDetailsModal", "Home")',
            dataType: "json",
            type: 'POST',
            cache: false,
            data:
        })
    </script>
</body>