@model IEnumerable<DABAB.Models.MovieActor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Site.css" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table table-dark table-responsive-lg">
    <tr>
        <th>
            Glumac
        </th>
        <th>
            Film
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Actor.SurnameName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.ActionLink("Ažuriraj", "Edit", new { /* id=item.PrimaryKey */ }, new { @class="btn btn-light"})
            @Html.ActionLink("Obriši", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
