@model DABAB.Models.Movie

@{
	ViewBag.Title = "Detalji o filmu";
	

}

<h2>@ViewBag.Title</h2>
<br/>
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

<div class="container" id="mainContainer">
	<div class="row ">
		<div class="col-md-6" style="text-align: center;">
			<img src="~/@Model.ImagePath" style="width: 400px; height: 400px;" />
		</div>
		<div class="col-md-6" style="text-align: center;">
			<h1>@Model.Title | @Model.ReleaseDate.Year.ToString()</h1>
			<h4>Rating: @Model.Rating</h4>
			@*<h5>
					Glumci:
					@foreach (var actor in Model.Actors)
					{
						actor.Actor.Surname.ToString();
					}
					<p> Opis: @Model.Description</p>
				</h5>*@
			<h5>Opis: @Model.Description</h5>
		</div>

	</div>
</div>
<br/>
<button type="button" class="btn btn-info btn-sm waves-effect waves-light">
	<a href="/Home/Index" class="text-white">Povratak na početnu</a>
</button>

