@model DABAB.Models.Movie

@{
    ViewBag.Title = "Detalji o filmu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />

}

<h2>@ViewBag.Title</h2>
<link rel="stylesheet" href="~/Content/Site.css" type="text/css"/>

<div>


    <div class="row" style="color:white;">
        <div class="col-md-2">
            <strong>Naziv filma: </strong>
        </div>
        <div class="col-md-10">
            @Model.Title
        </div>
    </div>
    <br />
    <div class="row" style="color:white;">
        <div class="col-md-2">
            <strong>Rating: </strong>
        </div>
        <div class="col-md-10">
            @Model.Rating
        </div>
    </div>
    <br />
    <div class="row" style="color:white;">
        <div class="col-md-2">
            <strong>Datum izdavanja: </strong>
        </div>
        <div class="col-md-10">
            @Model.ReleaseDate
        </div>
    </div>
    <br />
    <div class="row" style="color:white;">
        <div class="col-md-2">
            <strong>Opis: </strong>
        </div>
        <div class="col-md-10">
            @Model.Description
        </div>
    </div>


</div>
<button type="button" class="btn btn-info btn-sm waves-effect waves-light">
    <!--@Html.ActionLink("Back to List", "Index", "Home")-->
    <a href="/Home/Index" class="text-white">Povratak na početnu</a>
</button>

