@using PagedList
@using PagedList.Mvc
@model IPagedList<DABAB.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />

}

<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link rel="stylesheet" type="text/css" href="~/Content/LoginRegister.css" />

<h2>Filmovi</h2>

<h1 style="text-align:center;color:gold;font-style:italic;" class="ml2">Top 10 filmova</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
    var textWrapper = document.querySelector('.ml2');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({ loop: true })
        .add({
            targets: '.ml2 .letter',
            scale: [4, 1],
            opacity: [0, 1],
            translateZ: 0,
            easing: "easeOutExpo",
            duration: 950,
            delay: (el, i) => 70 * i
        }).add({
            targets: '.ml2',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
</script>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<br />
<br />
<table class="table">
    <tr>
        <th>
            @using (Html.BeginForm("Index", "Movie", FormMethod.Get))
            {
                @Html.TextBox("search") <input type="Submit" value="Traži" class="btn btn-primary" />
            }
        </th>
        <th>
            <button type="button" class="btn btn-primary">
                @Html.ActionLink("Dodaj", "Create", "", new { @class = "text-white" })
            </button>
        </th>
        <th>
            <button type="button" class="btn btn-primary">
                <a style="color:white;" href="@Url.Action("Index","Actor")">Glumci</a>
            </button>
        </th>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Naziv", "Index", new { sort = ViewBag.NameSort, search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.ActionLink("Datum izdavanja", "Index", new { sort = ViewBag.DateSort, search = Request.QueryString["search"] })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <button type="button" class="btn btn-primary">
                    @Html.ActionLink("Detalji", "Details", new { id = item.MovieId })
                </button>
                <button type="button" class="btn btn-primary">
                    @Html.ActionLink("Ažuriraj", "Edit", new { id = item.MovieId })
                </button>
                <button type="button" class="btn btn-primary">
                    @Html.ActionLink("Briši", "Delete", new { id = item.MovieId })
                </button>
            </td>
        </tr>
    }

</table>

<div id="pager">
    Ukupno rezultata: @Model.TotalItemCount <br />

    Stranica: @(Model.PageCount < Model.PageCount ? 0 : Model.PageNumber) od @Model.PageCount
    <br />
    <br />


    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"] , sort = Request.QueryString["sort"] }), new PagedListRenderOptions
    {
                         DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                         DisplayLinkToLastPage = PagedListDisplayMode.Always,
                         DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                         DisplayLinkToNextPage = PagedListDisplayMode.Always,
                         MaximumPageNumbersToDisplay = 5
    })
</div>



<p>
    <a href="@Url.Action("moviesPDF","Movie")" class="btn btn-primary">
        Kreiraj PDF
    </a>
</p>

<br />
<br />


<script>
    var ratingElem = document.getElementById("rating");
    var ratingValue = ratingElem.getAttribute("value");
    console.log(ratingValue);

    function check(starX) {
        document.getElementById(starX).checked = true;
    }

    switch (ratingValue) {

        case ("OneStar"):
            check("star5")
            break;
        case ("TwoStars"):
            check("star4")
            break;

        case ("ThreeStars"):
            check("star3")
            break;

        case ("FourStars"):
            check("star2")
            break;

        case ("FiveStars"):
            check("star1")
            break;

    }

</script>
