@model DABAB.Models.Actor

@{
    ViewBag.Title = "Briši";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>

<h3>Jeste li sigurni da želite obrisati ovog glumca?</h3>
<div>
    <h4 style="color:white;">Actor</h4>
    <hr />
    <dl class="dl-horizontal" style="color:white;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-primary" />
            <div type="button" class="btn btn-primary">
                @Html.ActionLink("Natrag na listu", "Index", "", new { @class = "text-white" })
            </div>
        </div>
    }
</div>
