@model IEnumerable<DABAB.Models.Actor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

<h2>Glumci</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td class="tablestyles">
                @Html.ActionLink("Edit", "Edit", "Actor", new { id = item.ActorId }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Detalji", "Details", "Actor", new { id = item.ActorId }, new { @class = "btn btn-info btn-sm" })|
                @Html.ActionLink("OBriši", "Delete", "Actor", new { id = item.ActorId }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
    }

</table>
