@using DABAB.Models
@model LoginUserViewModel

@{
    ViewBag.Title = "Log in";
}

<link rel="stylesheet" href="~/Content/Site.css" />
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontala", role = "form" }))
{
    <h1 style="margin-left:40px"> Prijava </h1>
    <hr />

    @Html.AntiForgeryToken()

    <div class="form-group" style="margin-left:50px">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.ValidationMessage("NoEmail", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin-left:50px">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessage("Wrong", new { @class = "text-danger" })
        </div>
    </div>


    <button type="submit" value="Log in" class="btn btn-success"> Prijava <i class="fa fa-check"></i></button>
}
